Package: com.qwertyoruiop.uitoggles
Name: uitoggles
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome library of some sort!!
Maintainer: qwertyoruiop
Author: qwertyoruiop
Section: System
Tag: role::developer
